<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>CS</title>
	<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<script src="https://use.fontawesome.com/f0ea349df7.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/libs/jquery-3.2.1.min.js"></script>
</head>
<body>
			<div class="livedrops">
				<div class="livedrops__top">
					<div class="livedrops__title">LIVE-DROP</div>
					<div class="livedrops__sub">TOP-PLAYERS</div>
				</div>
				<div class="livedrops__list">
					<div class="livedrop_item knive">
						<a href="">	
						<div class="livedrop_img">
							<img src="img/item1.png" alt="">
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">M9 Bayonet</div>
					</a>
					</div>
					<div class="livedrop_item milspec">
						<a href="">	
						<div class="livedrop_img">
							<img src="img/item2.png" alt="">
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">P250 | Whiteout</div>
					</a>	
					</div>
					<div class="livedrop_item restricted">
						<a href="">	
						<div class="livedrop_img">
							<img src="img/item3.png" alt="">
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">AWP | Pink DDPAT</div>
						</a>
					</div>
					<div class="livedrop_item classified">
						<a href="">	
						<div class="livedrop_img">
							<img src="img/item4.png" alt="">
							
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">AK-47 | Case Hardened</div>
						</a>
					</div>
					<div class="livedrop_item covert">
							<a href="">	
						<div class="livedrop_img">
							<img src="img/item5.png" alt="">
							
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">Desert Eagle | Golden Koi</div>
						</a>
					</div>
					<div class="livedrop_item knive">
							<a href="">	
							<div class="livedrop_img">
								<img src="img/item1.png" alt="">
							</div>
							<div class="livedrop_username">r1me</div>
							<div class="livedrop_product">M9 Bayonet</div>
						</a>
						</div>
						<div class="livedrop_item milspec">
							<a href="">	
							<div class="livedrop_img">
								<img src="img/item2.png" alt="">
							</div>
							<div class="livedrop_username">r1me</div>
							<div class="livedrop_product">P250 | Whiteout</div>
							</a>	
						</div>
						<div class="livedrop_item restricted">
							<a href="">	
							<div class="livedrop_img">
								<img src="img/item3.png" alt="">
							</div>
							<div class="livedrop_username">r1me</div>
							<div class="livedrop_product">AWP | Pink DDPAT</div>
							</a>
						</div>
						<div class="livedrop_item classified">
							<a href="">	
							<div class="livedrop_img">
								<img src="img/item4.png" alt="">
								
							</div>
							<div class="livedrop_username">r1me</div>
							<div class="livedrop_product">AK-47 | Case Hardened</div>
							</a>
						</div>
						<div class="livedrop_item covert">
								<a href="">	
							<div class="livedrop_img">
								<img src="img/item5.png" alt="">
								
							</div>
							<div class="livedrop_username">r1me</div>
							<div class="livedrop_product">Desert Eagle | Golden Koi</div>
							</a>
						</div>
					<div class="livedrop_item classified">
							<a href="">	
						<div class="livedrop_img">
							<img src="img/item1.png" alt="">
						
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">AK-47 | Case Hardened</div>
						</a>
					</div>
					<div class="livedrop_item restricted">
							<a href="">	
						<div class="livedrop_img">
							<img src="img/item2.png" alt="">
						
						</div>
						<div class="livedrop_username">r1me</div>
						<div class="livedrop_product">AK-47 | Case Hardened</div>
						</a>
					</div>
				</div>
			</div>
<header id="header"> 
	<div class="container">
		<div class="logo__wrapper">
			<div class="logo"><img src="img/logo.png" alt=""></div>
		</div>
		<div class="mainmenu__wrapper">
			<div class="mainmenu">
				<div class="mainmenu_toggle">
					<span></span>
				</div>
				<ul>
					<li><a href="#">MAINPAGE</a></li>
					<li><a href="#">CONTRACTS</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">REVIEWS </a></li>
					<li><a href="#">LIVE-TRADES</a></li>
					<li><a href="#">CONTRACTS</a></li>
				</ul>
			</div>
		</div>
		<div class="userarea__wrapper">
			<div class="userarea">
				<div class="userarea__login active">
					<a href="#">SIGN IN</a>
				</div>
				<div class="userarea__profile">

				</div>
			</div>
		</div>
	</div>
</header>
<section class="casestats">
	<div class="container">
	<div class="casestats__tabs">
		<div class="col-md-3 col-sm-3">
			<div class="casestat">
				<div class="casestat__title">CASE OPENED</div>
				<div class="casestat__number">18 489 114</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="casestat">
				<div class="casestat__title">CONTRACTS SIGNED</div>
				<div class="casestat__number">45 899</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="casestat">
				<div class="casestat__title">ONLINE USERS</div>
				<div class="casestat__number">1574</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="casestat">
				<div class="casestat__title">REGISTERED USERS</div>
				<div class="casestat__number">248 474</div>
			</div>
		</div>
	</div>
	</div>
</section>

<div class="clearfix"></div>
